<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.trusteem.TKAPP" version="0.3.0" versionCode="">
  <name>TKAPP</name>
  <description>TK Management Client</description>
  <author email="dev@trusteem.com" href="http://www.trusteem.com.cn">Trusteem.com</author>
  <preference name="phonegap-version" value="cli-8.0.0" />
  <preference name="permissions" value="none" />
  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="60000" />
  <preference name="AutoHideSplashScreen" value="false" />
  
  <preference name="orientation" value="landscape" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#FFFFFF" />

  <access origin="*" />

  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-splashscreen" onload="true" version="3.2.2"/>
  <plugin name="cordova-plugin-ios-longpress-fix" />
  <plugin name="cordova-plugin-statusbar" onload="true" />
  <plugin name="cordova-plugin-camera" spec="~4.0.3" /> 
  <plugin name="cordova-plugin-device" spec="~1.1.4" />
  <plugin name="phonegap-plugin-barcodescanner" />  
  <plugin name="jpush-phonegap-plugin">
    <param name="APP_KEY" value="e9df91ac59cb92be9286f685" />
  </plugin>
  <plugin name="cordova-plugin-app-version" />
  <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />

  <icon src="res/icon/icon.png" />
  <platform name="ios">
     <icon src="res/icon/ios/icon-1024.png" platform="ios" width="1024" height="1024" />
    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
    <icon src="res/icon/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
    <icon src="res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
    <icon src="res/icon/ios/icon-40@3x.png" platform="ios" width="120" height="120" />
    <!-- iPhone and iPod touch -->
    <splash src="res/screen/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="res/screen/ios/Default@2x.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="res/screen/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="res/screen/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
    <splash src="res/screen/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    <splash src="res/screen/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <splash src="res/screen/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
    <splash src="res/screen/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="res/screen/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
    <splash src="res/screen/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
    
    <preference name="prerendered-icon" value="false" />    
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
      <string>APP将通过摄像头扫描二维码</string>
    </edit-config>
    <edit-config target="CFBundleIdentifier" file="*-Info.plist" mode="merge">
      <string>com.trusteem.DMAPP</string>
    </edit-config>
  </platform>
  <platform name="android">
    <icon src="res/icon/android/ldpi.png" platform="android" qualifier="ldpi" />
    <icon src="res/icon/android/mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="res/icon/android/hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="res/icon/android/xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="res/icon/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <!--<icon src="xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
    <icon src="fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi" />-->
    <splash src="res/screen/android/splash-portrait-ldpi.png" density="port-ldpi" />
    <splash src="res/screen/android/splash-portrait-mdpi.png" density="port-mdpi" />
    <splash src="res/screen/android/splash-portrait-hdpi.png" density="port-hdpi" />
    <splash src="res/screen/android/splash-landscape-hdpi.png" density="land-hdpi" />
    <splash src="res/screen/android/splash-portrait-xhdpi.png" density="port-xhdpi" />
    <splash src="res/screen/android/splash-landscape-xhdpi.png" density="land-xhdpi" />
    <splash src="res/screen/android/splash-portrait-xxhdpi.png" density="port-xxhdpi" />
    <splash src="res/screen/android/splash-landscape-xxhdpi.png" density="land-xxhdpi" />
    <!--<splash src="splash-xxxhdpi.png" platform="android" qualifier="xxxhdpi" />-->
    <preference name="android-windowSoftInputMode" value="adjustResize" />
  </platform>

</widget>