.ItemList-ScrollView {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.ItemList-ScrollView2 {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.Func-ListTop50 {
    position: absolute;
    bottom: 0;
    top: 45px;
    padding-bottom: 45px;
    width: 100%;
    height: auto;
}

.ItemList-ScrollView3 {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.GridScroll {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.ItemForm {
    max-width: 750px;
    margin: 0 auto;
}

.dx-icon-mycopy {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABHNCSVQICAgIfAhkiAAAAAFzUkdCAK7OHOkAAAAEZ0FNQQAAsY8L/GEFAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACbElEQVRIS+2Wv2+xURTHD339qOhQFVRi9QdImvgDDE0aOhjF4E9oLPwLikmwSJeGRCwidDWRCKYuBobGIhZJ24QE973nuLxefXgerbGf5KTnOfc+vj33nnueC0whxWKRAYAie3p6Em99Rc0nKGI2m8H19TX+g+RLGY5dXV1BKBSCZDIp3tyBZBWQy+WYzWYTT/tRq9Usn89TpvF4XET/oViw3+8zk8kknvaDQt1ul72/v5P/+PgoRlb8iUaj8Pn5CcvlEhOWhM+DQCAA4/FYRA7DxcBoNMJoNAKr1QoqlQrC4TCNqbgxr9cLGo1GUlSr1UK73YbBYAAvLy9we3srRqTBH282m+B2u+n54+MDLi4uaE8fHh4otsr1ALFYjDkcDlqiarUqotLgnEQiwRqNBqvX66zT6bDn52eKY/WSIK8wMV0avuzM7/ezt7c3erFcLouRrzidTpqzbWdnZ8xsNpOv+FhMJhPgWUKr1YL7+3uo1Wpi5H96vR7t+bbN5/PN/isWXHNzcwN8meDu7g4qlYqIyoPnFFEsaDAYhAfgcrlgOByCz+cDvqciqhzZPYxEIrT+vNrY+fk5mcVi2ewRFoYc0+mU5tKxwHSx/PeBR+L19RV4FxGRFbwQwOPxQCaTgWAwKKLSoIZerydfNsND2O12Kns51hkeXTS7HOpQUvxY8Fh+BU/Or+DJ0Ol09FdRpzkEXqzS6TT52WwWeNsjfxvsUPjFwGZ/EsFUKgWXl5dQKBQ27WsXFMVrB/Kj1oY3OSWtbQ3tIf8ik/J3wDvMMZAgXnRwjXFpjzFksVgcLbr5rn3XSqWSWDA5GPsL7m/lAFZEpvQAAAAASUVORK5CYII=) 0 0 no-repeat;
}

.indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    z-index: 9999;
}

.ButtonLeft {
    margin-left: 10px;
    margin-bottom: 50px;
    height: 45px;
    width: 45%;
    float: left;
    /*background-color:cornflowerblue;*/
    display: inline;
}

.ButtonRight {
    margin-right: 10px;
    margin-bottom: 50px;
    height: 45px;
    width: 45%;
    float: right;
    background-color: rgb(245, 155, 155);
    display: inline;
}

.ButtonCenter {
    width: 50%;
    background-color: dodgerblue;
    color: white;
}

.Inline {
    display: inline;
    float: left;
    width: 100px;
}

.Editable {
    color: blue;
}

.EditableR {
    color: red;
}

.TrusteemHeader {
    background-color: #4F94CD;
    color: #FFFFFF;
}

.Logindiv {
    float: right;
    width: 400px;
    font-size: larger;
    background-color: white;
    margin: 10px 10px 10px 10px;
    opacity: 1;
}
/*.Logindiv:hover {
    opacity:1;
    
    }*/

.dx-nav-item {
    background: #4F94CD;
    color: #FFFFFF;
}

    .dx-nav-item .dx-icon {
        color: #FFFFFF;
    }

    .dx-nav-item.dx-tab-selected {
        background: #87CEFA;
        color: #FFFFFF;
    }

.dx-toolbar {
    /*margin:10px 10px 10px 10px;*/
    margin: 0 0 0 0;
}

.navbar-layout .layout-header .dx-toolbar {
    margin: 0 0 0 0;
}

.Login_Btn {
    /*margin: 0 auto;*/
    width: 100%;
    background-color: dodgerblue;
    color: white;
}

.Margin5 {
    margin: 5px 5px 5px 5px;
}

.DeviceButton {
    width: 100%;
    height: 90px;
    background-color: dodgerblue;
    background-clip: padding-box;
    color: white;
    font-size: larger;
    padding: 5px 5px 5px 5px;
}

.FormSizedImg {
    max-width: 100%;
    max-height: 180px;
}

.dx-tile-content .ItemDesc {
    font-size: larger;
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.8;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.dx-tile-content .BKImage {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: block;
}

.dx-tile.dx-state-hover {
    border-color: #EEE;
}

.dx-datagrid-rowsview .dx-selection.dx-row > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > td,
.dx-datagrid-rowsview .dx-selection.dx-row > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > tr > td {
    background-color: #4F94CD;
    color: #333;
}

    .dx-datagrid-rowsview .dx-selection.dx-row > td.dx-datagrid-group-space,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td.dx-datagrid-group-space,
    .dx-datagrid-rowsview .dx-selection.dx-row > tr > td.dx-datagrid-group-space,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > tr > td.dx-datagrid-group-space {
        border-right-color: #4F94CD;
    }

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-lines) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-lines) > td {
    border-bottom: 1px solid #4F94CD;
    border-top: 1px solid #4F94CD;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-lines) > tr:first-child > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-lines) > tr:first-child > td {
    border-top: 1px solid #4F94CD;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-lines) > tr:last-child > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-lines) > tr:last-child > td {
    border-bottom: 1px solid #4F94CD;
}

